<mat-horizontal-stepper>
  <!--
  <mat-step [stepControl]="firstFormGroup">

    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Enter Your Name</ng-template>

      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>

  </mat-step>

  <mat-step [stepControl]="secondFormGroup">

    <form [formGroup]="secondFormGroup">

      <ng-template matStepLabel>Your Address</ng-template>

      <mat-form-field>
        <input matInput placeholder="Address" formControlName="secondCtrl" required>
      </mat-form-field>

      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>

    </form>

  </mat-step> -->
  <mat-step>

    <div>
      <p>
        Hello
      </p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>

    </div>

  </mat-step>
  <mat-step>

    <div>
      <p>
        Hi
      </p>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>

    </div>

  </mat-step>
  <mat-step>
    <div>
      <p>
        Hmmm
      </p>
      <button mat-button matStepperPrevious>Back</button>
    </div>

  </mat-step>

</mat-horizontal-stepper>
